/* @import '/src/styles/constants/colors'; */

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;  
}

.carouselWrapper {
    position: relative;
    width: 100%;
    padding: 0 20%;
    overflow: hidden;
  }
  
  .carouselWrapper:hover .swipeLeft,
  .carouselWrapper:hover .swipeRight {
    position: absolute;
    top: 45%;
    z-index: 1;
    display: block;
    padding: 8px 6px;
    background-color: var(--color-GRAYE); /* Replace with your color value */
    border-radius: 10px;
  }
  
  .swipeLeft,
  .swipeRight {
    display: none;
  }
  
  .swipeLeft {
    left: 0;
  }
  
  .swipeRight {
    right: 0;
  }
  
  .carousel {
    display: flex;
    width: 100%;
  }
  
  .carousel li {
    flex: none;
    object-fit: contain;
  }
  
  .carouselItem {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 450px;
    padding: 10px 0 15px;
    overflow: hidden;
    border-right: 2px solid var(--color-WHITE); /* Replace with your color value */
    border-left: 2px solid var(--color-WHITE); /* Replace with your color value */
    transition: border 300ms;
  }
  
  .carouselItem img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
  }
  
  :root[color-theme='dark'] .carouselItem {
    border-right: 2px solid var(--color-GRAY2); /* Replace with your color value */
    border-left: 2px solid var(--color-GRAY2); /* Replace with your color value */
  }