.progress-bar {
    width: 97%;
    height: 30px;
    background-color: #5bc959;
    font-weight: 600;
    font-size: .8rem;
    border-radius: 10px;
    margin-left: 10px;
    margin-top: 10px;
}

.progress-bar .progress {
    width: 72%;
    height: 30px;
    padding: 0;
    text-align: center;
    background-color: #4F98FF;
    color: #111;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

/* BAR_DETAILS */
.recognized_items {
    width: 565px;
    display: flex;
    align-items: center;
    margin-top: 45px;
    margin-bottom: 45px;
    margin-left: 15px;
    margin-right: 15px;
    position: relative; /* 부모 요소를 기준으로 배치할 것임을 나타냄 */
}

.decorated_bar_recog {
    width: 15px;
    height: 90px;
    background-color: #4F98FF;
    border-radius: 10px;
    margin-right: 20px;
}

.value_recog {
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    right: 0;
    top: 0;
}

.undefined_items {
    display: flex;
    align-items: center;
    margin-top: 45px;
    margin-bottom: 10px;
    margin-left: 15px;
    margin-right: 15px;
    position: relative;
}

.decorated_bar_undef {
    width: 15px;
    height: 90px;
    background-color: #e67474;
    border-radius: 10px;
    margin-right: 20px;
}

.value_undef {
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    right: 0;
    top: 0;
}