.breadcrumbBox {    
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.boxes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.imageBox {    
    width: 700px;
    height: 800px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;    
    /* overflow: hidden; 이미지를 부모 요소 내에서만 보이도록 설정 */
    position: relative;  /* 자식 요소의 위치를 설정하기 위해 */
}

.selectedBox { 
    border: 4px solid red;
    animation: blink 1s infinite;
    opacity: 0; /* 초기에 숨김 */
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* INFORMATIONBOX */
.information_coordinates {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;
    height: 300px;
    border: 2px solid black;
    position: relative;        
}

.coordinates_left {
    position: absolute;
    left: 20px;
    font-size: 27px;
    font-weight: bold;
}

.coordinates_right {
    position: absolute;
    right: 20px;
    font-size: 27px;
    font-weight: bold;
}

.information_lists {
    position: relative;
    width: 700px;
    height: 500px;
    border: 2px solid black;
}
